:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);
}

body {
  background-color: var(--Grey900);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.card {
  background-color: var(--Grey800);
  max-width: 320px;
  width: 70%;
  border-radius: 20px;
  padding: 2rem;
  place-items: center;
}

.card-avatar {
  border-radius: 100%;
  width: 90px;
}

.card-name {
  font-size: 26px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-location {
  color: var(--Green);
  font-size: 14px;
  font-weight: 700;
  margin-top: 0px;
}

.card-description {
  font-size: 14px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 25px;
}

.card-link {
  width: auto;
  display: block;
  margin: auto;
  background-color: var(--Grey700);
  padding: 15px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  place-items: center;
  text-align: center;
}

.card-link:hover {
  background-color: var(--Green);
  color: black;
  cursor: pointer;
}